body{
  background-color: #1C1C1C ;
}
h1{
  font-family: helvetica;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
  color: #A020F0;
}

p{
  font-family: helvetica;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  color: #A020F0;
}
